{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align:center"> This is Blog page  </h1>
<div class = "container mt-5 mb-3" style="border:2px solid black">
    <div class ="row">
        {% for post in allpost %}
        <div class = "col-lg-4 my-3 mx-0">
            <div class ="card shadow">
                <img src= "{{post.image.url}}" class ="card-img-top" alt = "...">
                <div class= "card-body">
                    <h5 class = "card-title"> {{post.title | truncatechars:10}}<br><small class="text-muted">BY {{post.author}} on {{post.post_time}}</small> </h5>
                    <p class = "card-text"> {{post.content | truncatechars:100}} </p>
                    <a href = "{% url 'blog_detail' post.slug %}" class = "btn btn-primary"> Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    {% comment %} {% for post in allpost %}
    
    {{post.image.url}}
    {{post.title}}<br>
    {{post.content}}
    {% endfor %} {% endcomment %}

{% endblock content %}